In [1]:
import seaborn as sns

import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import accuracy_score, recall_score, precision_score
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

from sklearn.linear_model import LogisticRegression

from sklearn import set_config
set_config(transform_output="pandas")

# Set random seed 
RSEED = 42

warnings.filterwarnings("ignore")

In [52]:
df = pd.read_csv("data/data.csv")

In [3]:
df

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_1,...,Lost_Tags,T_Number,CCL_cm,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,CC00147,...,NaN,NaN,64.70,62.60,NaN,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,W442,...,NaN,NaN,35.85,31.35,NaN,Unknown,multiple b's on front flippers& a lot of alga...,Released,ReleaseSite_62,28/10/01
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,KE0376,...,NaN,NaN,51.80,49.20,NaN,Unknown,clean,Released,ReleaseSite_50,01/11/01
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,CC00302,...,NaN,NaN,60.50,59.00,NaN,Unknown,1 b 3 CS+ calcerous algae at rear end of shell...,Released,ReleaseSite_50,11/03/02
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,NotTagged_0113,...,NaN,NaN,34.70,33.00,NaN,Unknown,very lively+ right eye is hanging out + swolle...,Released,ReleaseSite_62,08/08/02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18057,2018_RE_1511,2018-12-18,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_569,LandingSite_CaptureSiteCategory_1,Species_5,KES1828,...,NaN,NaN,57.13,50.57,21.09,Unknown,White calcareous algae on carapace,Released,ReleaseSite_68,18/12/18
18058,2018_RE_1514,2018-12-18,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_125,LandingSite_CaptureSiteCategory_1,Species_6,KES0563,...,KES0416,NaN,42.07,38.37,9.02,Unknown,Calcareous + green algae on carapace\nBarnacle...,Released,ReleaseSite_68,18/12/18
18059,2018_RE_1532,2018-12-24,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_1343,LandingSite_CaptureSiteCategory_1,Species_5,KES1833,...,NaN,NaN,57.20,52.30,NaN,Unknown,Clean turtle,Released,ReleaseSite_68,24/12/18
18060,2018_RE_1533,2018-12-24,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_1551,LandingSite_CaptureSiteCategory_1,Species_5,KES1831,...,NaN,NaN,51.90,48.50,NaN,Unknown,Green algae on carapace\ntip of left supra mis...,Released,ReleaseSite_68,24/12/18
18061,2018_RE_1550,2018-12-28,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_1551,LandingSite_CaptureSiteCategory_1,Species_6,KES1432,...,NaN,NaN,34.60,31.20,4.29,Unknown,Thick pink patches of calcareous algae on cara...,Released,ReleaseSite_37,28/12/18

In [7]:
variable_def = pd.read_csv("data/variable_definitions.csv",encoding='latin-1')
pd.set_option('display.max_colwidth', None)
variable_def

,Variables,Description
0,Rescue_ID,"Its an individual bycatch incidence identity number. The numbers are consecutive, for each year e.g. 2018_RE_0732 means rescue number 732 in year 2018"
1,Date_TimeCaught,Date the turtle is captured e.g. 06/01/2018
2,Researcher,Name of bycatch officer(s) involved with specific rescue
3,Capture Site,"Area where turtle was captured, as reported by the fisher."
4,Foraging Ground,General area of ocean area where turtle was captured. The assumption is that the turtle was foraging where it was captured. The foraging area is broadly classified either as the open ocean or creek section
5,Capture Method,Fishing gear or method used by fishers to capture the turtle
6,Fisher,Name of the fisher who captured the turtle
7,Landing_Site,Section of beach where turtle is landed.
8,Species,"Species of turtle (e.g. green turtle, hawksbill, loggerhead etc.)"
9,Tag_1,"Individual / unique number used to identify a turtle. Each turtle that is captured is tagged. Formats of tag numbers have been changed over years, although turtles retain their old tags even when recaptured (unless the tags are about to fall or are too tight, then they are replaced)."
10,Tag_2,Second tag added to large turtles. Turtles with two tags: tag 1 is an odd number e.g. KEL0169 and tag 2 is even and consequent e.g. KEL0170
11,Lost_Tags,"Replaced tags. If a turtle has outgrown its tag, the tag is removed and replaced with a bigger one, with a different number"
12,T_Number,"It a number given to a turtle that has been taken to the rehabilitation facility (TRC) for treatment. TRC identifies patients using T number, instead of Rescue ID. Thus, T number is the link between bycatch and TRC"
13,CCL_cm,Central Carapace Length (Biometric measurement). Measured in centimetres
14,CCW_cm,Central Carapace Width (Biometric measurement). Measured in centimetres
15,Weight_Kg,(Biometric measurement). Measured in Kgs
16,Sex,Gender of the turtle.
17,Turtle Characteristics,"Description of turtles (mostly unusual occurrences e.g. disease, injury, parasites etc. Usually as short textual description"
18,Status,Indicates whether the turtle is released or admitted to TRC
19,Release Site,Site where the turtle is released
20,Date_Release,Date turtle is released
21,Release_Admiss_Notes,Additional information about release
22,SpecialRemarks,Additional info (General) about turtle

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   Tag_1                  17937 non-null  object
 10  Tag_2                  4911 non-null   object
 11  Lost_Tags              925 non-null    object
 12  T_Number               38 non-null     object
 13  CCL_cm                 18038 non-null  float64
 14  CCW_cm                 18035 non-null  float64
 15  Weight_Kg              12653 non-null  float64
 16  Sex                    13732 non-null  object
 17  TurtleCharacteristics  18010 non-null  object
 18  Status                 14429 non-null  object
 19  ReleaseSite            17987 non-null  object
 20  Date_TimeRelease       11954 non-null  object
dtypes: float64(3), object(18)
memory usage: 2.9+ MB

In [60]:
df.isnull().sum()

Rescue_ID                    0
Date_TimeCaught              0
Researcher                   0
CaptureSite                  0
ForagingGround               0
CaptureMethod                0
Fisher                       0
LandingSite                  0
Species                      0
Tag_1                      125
Tag_2                    13151
Lost_Tags                17137
T_Number                 18024
CCL_cm                       0
CCW_cm                      27
Weight_Kg                 5409
Sex                       4330
TurtleCharacteristics       52
Status                    3633
ReleaseSite                 75
Date_TimeRelease          6108
dtype: int64

In [15]:
# import missingno
import missingno as msno

In [59]:
print((df==0).sum())

Rescue_ID                0
Date_TimeCaught          0
Researcher               0
CaptureSite              0
ForagingGround           0
CaptureMethod            0
Fisher                   0
LandingSite              0
Species                  0
Tag_1                    0
Tag_2                    0
Lost_Tags                0
T_Number                 0
CCL_cm                   0
CCW_cm                   0
Weight_Kg                0
Sex                      0
TurtleCharacteristics    0
Status                   0
ReleaseSite              0
Date_TimeRelease         0
dtype: int64

In [ ]:
# import missingno
import missingno as msno

Deleting Tag_1 and Lost_tags column:

In [61]:
del df['Tag_1']

In [63]:
del df['Lost_Tags']

Replacing NaN Values in Tag_2 column with zeros:

In [64]:

df['Tag_2'].fillna(0, inplace=True)

Replacing string values in Tag_2 column (which represent a large turtle) with 1:

In [65]:

df['Tag_2'] = df['Tag_2'].replace(to_replace='.*', value=1, regex=True)

df['Tag_2'].unique()

array([0, 1], dtype=int64)

In [79]:
df['Tag_2'].value_counts()

Tag_2
0    13151
1     4911
Name: count, dtype: int64

Replacing NaN Values in T_Number column with zeros:

In [70]:

df['T_Number'].fillna(0, inplace=True)

Replacing string values in T-Number column (which represent a visit in a rehabilitation facility ) with 1:

In [71]:

df['T_Number'] = df['T_Number'].replace(to_replace='.*', value=1, regex=True)

df['T_Number'].unique()

array([0., 1.])

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   Tag_2                  18062 non-null  int64
 10  T_Number               18062 non-null  float64
 11  CCL_cm                 18062 non-null  float64
 12  CCW_cm                 18035 non-null  float64
 13  Weight_Kg              12653 non-null  float64
 14  Sex                    13732 non-null  object
 15  TurtleCharacteristics  18010 non-null  object
 16  Status                 14429 non-null  object
 17  ReleaseSite            17987 non-null  object
 18  Date_TimeRelease       11954 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 2.6+ MB

In [73]:
#Impute NaN CCL_cm values, setting all of them as median
CCL_cm_median = df['CCL_cm'].median()
df['CCL_cm'].fillna(CCL_cm_median, inplace=True) 
df.isnull().sum()

Rescue_ID                   0
Date_TimeCaught             0
Researcher                  0
CaptureSite                 0
ForagingGround              0
CaptureMethod               0
Fisher                      0
LandingSite                 0
Species                     0
Tag_2                       0
T_Number                    0
CCL_cm                      0
CCW_cm                     27
Weight_Kg                5409
Sex                      4330
TurtleCharacteristics      52
Status                   3633
ReleaseSite                75
Date_TimeRelease         6108
dtype: int64

In [21]:
df['Sex'].value_counts()

Sex
Unknown         13578
Female            113
Male               39
Not_Recorded        2
Name: count, dtype: int64

In [18]:
df.describe()

             CCL_cm        CCW_cm     Weight_Kg
count  18038.000000  18035.000000  12653.000000
mean      43.090390     40.253904      9.850731
std       11.004251      9.933058      9.737378
min        2.000000      2.000000      0.020000
25%       36.330000     34.000000      5.000000
50%       41.300000     39.300000      7.500000
75%       47.000000     44.100000     10.800000
max      122.750000    106.000000    140.000000

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   Tag_2                  18062 non-null  int64
 10  T_Number               18062 non-null  float64
 11  CCL_cm                 18062 non-null  float64
 12  CCW_cm                 18035 non-null  float64
 13  Weight_Kg              12653 non-null  float64
 14  Sex                    13732 non-null  object
 15  TurtleCharacteristics  18010 non-null  object
 16  Status                 14429 non-null  object
 17  ReleaseSite            17987 non-null  object
 18  Date_TimeRelease       11954 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 2.6+ MB

In [39]:
# categorical_columns = ['LandingSite', 'Species', 'Tag_1', 'Tag_2',
                       # 'Lost_Tags', 'T_Number'] 

# for col in categorical_columns:
    # df[col] = df[col].astype('category')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  category
 8   Species                18062 non-null  category
 9   Tag_1                  18062 non-null  category
 10  Tag_2                  18062 non-null  category
 11  Lost_Tags              18062 non-null  category
 12  T_Number               18062 non-null  category
 13  CCL_cm                 18062 non-null  float64
 14  CCW_cm                 18035 non-null  float64
 15  Weight_Kg              12653 non-null  float64
 16  Sex                    13732 non-null  object
 17  TurtleCharacteristics  18010 non-null  object
 18  Status                 14429 non-null  object
 19  ReleaseSite            17987 non-null  object
 20  Date_TimeRelease       11954 non-null  object
dtypes: category(6), float64(3), object(12)
memory usage: 2.6+ MB

In [55]:
df.value_counts()

Series([], Name: count, dtype: int64)

In [80]:
df.nunique()

Rescue_ID                18062
Date_TimeCaught           5237
Researcher                  35
CaptureSite                 29
ForagingGround               3
CaptureMethod               15
Fisher                    2085
LandingSite                  5
Species                      8
Tag_2                        2
T_Number                     2
CCL_cm                    1338
CCW_cm                    1262
Weight_Kg                 1937
Sex                          4
TurtleCharacteristics    16342
Status                     439
ReleaseSite                271
Date_TimeRelease          3008
dtype: int64

In [81]:
df.head(15)

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_2,T_Number,CCL_cm,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,0,0.0,64.70,62.60,NaN,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,0,0.0,35.85,31.35,NaN,Unknown,multiple b's on front flippers& a lot of algae growth on shall - mostly towards rear,Released,ReleaseSite_62,28/10/01
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,51.80,49.20,NaN,Unknown,clean,Released,ReleaseSite_50,01/11/01
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,0,0.0,60.50,59.00,NaN,Unknown,1 b 3 CS+ calcerous algae at rear end of shell+ 9/10+ 10/11 RM has chips+ 9/10 LM has chip+ Left supracaudal is broken a bit at the end+ RF flipper is 1/2 missing and LF flipper the end is mising+ 'nails' are growing at the ends. Ends of RR and LR flip a,Released,ReleaseSite_50,11/03/02
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,34.70,33.00,NaN,Unknown,very lively+ right eye is hanging out + swollen+ left eye is closed + bleeding-possible from a speargun or infection or virus+ hump in 2 LLS + 2/3 CS,Released,ReleaseSite_62,08/08/02
5,2002_RE_0119,2002-08-10,Researcher_25,CaptureSite_0,Ocean,Not_Recorded,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,33.20,30.70,NaN,Unknown,large chip 6 LM,Released,ReleaseSite_8,10/08/02
6,2002_RE_0214,2002-10-21,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_2013,LandingSite_CaptureSiteCategory_2,Species_6,0,0.0,37.40,33.50,NaN,Unknown,green and whitish-pink calcerous algae growth towards rear end of shell+ small mark on top of head+ small scar on nuchal+ small b's on flippers and neck.,Released,ReleaseSite_62,21/10/02
7,2002_RE_0215,2002-10-21,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1815,LandingSite_CaptureSiteCategory_2,Species_6,0,0.0,40.30,37.20,NaN,Unknown,calcerous algae growth-especially rear end and some red algae+ 1 RMS is split+ 7 RMS has a chip+ 8 LMS has a chip+ 10 RMS has a hole+ 10 LMS has a small chip+ small hole 2 CS,Released,ReleaseSite_50,21/10/02
8,2002_RE_0218,2002-10-22,Researcher_30,CaptureSite_0,Ocean,Net,Fisher_1815,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,44.00,43.20,NaN,Unknown,clean shell,Released,ReleaseSite_50,22/10/02
9,2003_RE_0187,2003-06-09,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1066,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,48.30,43.30,NaN,Unknown,10 LMS has a small chip& right rear flipper is 3/4 missing& 11 RMS has a small chip& pink calcerous algae growth on left supra.,Released,ReleaseSite_62,NaN
10,2003_RE_0322,2003-08-11,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1114,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,43.30,43.60,NaN,Unknown,b 10RM,2smb 3LLS& 1sm b R supra,Released,ReleaseSite_50
11,2003_RE_0363,2003-09-02,Researcher_32,CaptureSite_0,Ocean,Longline,Fisher_2065,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,43.40,41.70,NaN,Unknown,small scratches and saome flakings on the shell& a beautiful brown shell& V shaped notch on the RRF,Released,ReleaseSite_62,NaN
12,2003_RE_0411,2003-09-22,Researcher_30,CaptureSite_0,Ocean,Net,Fisher_2013,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,58.20,53.30,NaN,Unknown,white calcerous algae on 5CS anmd supras& indent 8LMS& sm bs on flips,Released,ReleaseSite_50,NaN
13,2003_RE_0412,2003-09-22,Researcher_30,CaptureSite_0,Ocean,Net,Fisher_2013,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,40.20,39.30,NaN,Unknown,pink calcerous algae 3+5 LLS,b scar 4RMS& 2LLS& 4LLS,many sm bs on rear shell and supras,Released
14,2003_RE_0413,2003-09-22,Researcher_30,CaptureSite_0,Ocean,Net,Fisher_2013,LandingSite_CaptureSiteCategory_2,Species_5,0,0.0,52.50,47.50,NaN,Unknown,sm bs on shell,sm patches of calcerous algae on shell and supras,Released,ReleaseSite_50

In [82]:
# Create dummy variables 
df_dummies = pd.get_dummies(df, columns=['LandingSite', 'Species'], drop_first=True) 

df_dummies

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,Tag_2,T_Number,CCL_cm,...,LandingSite_LandingSite_CaptureSiteCategory_2,LandingSite_LandingSite_CaptureSiteCategory_3,LandingSite_LandingSite_CaptureSiteCategory_4,Species_Species_1,Species_Species_2,Species_Species_3,Species_Species_4,Species_Species_5,Species_Species_6,Species_Species_7
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,0,0.0,64.70,...,True,False,False,False,False,False,False,False,True,False
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,0,0.0,35.85,...,True,False,False,False,False,False,False,False,True,False
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,0,0.0,51.80,...,True,False,False,False,False,False,False,True,False,False
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,0,0.0,60.50,...,True,False,False,False,False,False,False,False,True,False
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,0,0.0,34.70,...,True,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18057,2018_RE_1511,2018-12-18,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_569,0,0.0,57.13,...,False,False,False,False,False,False,False,True,False,False
18058,2018_RE_1514,2018-12-18,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_125,0,0.0,42.07,...,False,False,False,False,False,False,False,False,True,False
18059,2018_RE_1532,2018-12-24,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_1343,0,0.0,57.20,...,False,False,False,False,False,False,False,True,False,False
18060,2018_RE_1533,2018-12-24,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_1551,0,0.0,51.90,...,False,False,False,False,False,False,False,True,False,False
18061,2018_RE_1550,2018-12-28,Researcher_30,CaptureSite_9,Ocean,Net,Fisher_1551,1,0.0,34.60,...,False,False,False,False,False,False,False,False,True,False

In [83]:
print((df == 0).sum())

Rescue_ID                    0
Date_TimeCaught              0
Researcher                   0
CaptureSite                  0
ForagingGround               0
CaptureMethod                0
Fisher                       0
LandingSite                  0
Species                      0
Tag_2                    13151
T_Number                 18024
CCL_cm                       0
CCW_cm                       0
Weight_Kg                    0
Sex                          0
TurtleCharacteristics        0
Status                       0
ReleaseSite                  0
Date_TimeRelease             0
dtype: int64

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   Tag_2                  18062 non-null  int64
 10  T_Number               18062 non-null  float64
 11  CCL_cm                 18062 non-null  float64
 12  CCW_cm                 18035 non-null  float64
 13  Weight_Kg              12653 non-null  float64
 14  Sex                    13732 non-null  object
 15  TurtleCharacteristics  18010 non-null  object
 16  Status                 14429 non-null  object
 17  ReleaseSite            17987 non-null  object
 18  Date_TimeRelease       11954 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 2.6+ MB

In [85]:
df.nunique()

Rescue_ID                18062
Date_TimeCaught           5237
Researcher                  35
CaptureSite                 29
ForagingGround               3
CaptureMethod               15
Fisher                    2085
LandingSite                  5
Species                      8
Tag_2                        2
T_Number                     2
CCL_cm                    1338
CCW_cm                    1262
Weight_Kg                 1937
Sex                          4
TurtleCharacteristics    16342
Status                     439
ReleaseSite                271
Date_TimeRelease          3008
dtype: int64

In [84]:
df['Status'].unique()

array(['Released', ' 2smb 3LLS& 1sm b R supra',
       ' b scar 4RMS& 2LLS& 4LLS',
       ' sm patches of calcerous algae on shell and supras',
       ' b join 3/4 LLS', nan, 'Admitted', ' chips on RM',
       ' tip of RS CS missing',
       " quite large piece missing from 1 + 2 scale area on LFF - possibly old tagging+ but unlikley that tagged there and piece is large+ maybe old wound.  a lot of small b's on flesh",
       ' green algae on scutes',
       ' no other major physical characteristics',
       ' light green algae on scutes', ' no other major characteristics',
       ' 6 LLS& small notch in the joints between both 10th and 11th MS',
       ' B scar on 1st CS', ' notch on LRF',
       ' few small barnacles on carapace', ' barnacles on ???',
       ' tiny barnacles on plastron', ' green algae on rear carapace',
       ' small barnacles on neck', ' small barnacles on flippers',
       ' RSCS tip missing', ' green algae on carapace',
       ' 7+ 9 + 10 LM scutes have some chips',
       " many b's at joint between 1 LLS and marginals + 1 RLS and marginals. Many barnacles across carpace and flippers",
       ' end of LFF + inside edge RFF-little bleeding from net+ both rear flippers have a piece missing',
       ' much whitish -pinkish calcerous algae growth over rear-end of shell+ RFF has a large notch+ LFF has a small notch+ many small bs on all 4 flippers',
       ' did not tag it. 6 central scutes not symetrical. Chipping on carapace.',
       ' between 8/10& 10 & 11 LMS has a chip. ', ' RRF piece missing',
       ' notch btw 9/10RMS & on 11RMS & 9LMS', ' sm b on 2LLS& notch LRF',
       ' calcerous algae CS + supras', 'Not_Recorded',
       ' V-shaped notch in RRF', ' notch on the second RCS',
       ' pink algae on plastron', ' light green algae on rear carapace',
       ' tip of LRF missing', ' brown algae around neck and tail',
       ' pieces of both FF are missing',
       ' white patches of calcareous algae on scutes',
       ' pinkish calcareous algae on plastron',
       ' barnacles on carapace and plastron',
       ' small barnacles on flippers and around neck',
       ' brown algae and small barnacles around the neck',
       ' pinkish calcareous algae on carapace',
       ' clean carapace and plastron', ' small hole on tenth RMS and LMS',
       ' loose projection at edge of RRF ',
       'LF flip sm injury & slight bleeding. Barnacles on RLS and 2LM.',
       '  3 CS has a fairly large indentation+ 10 LMS has a notch in it+ 6 RMS has a small chip+ 7 RMS has a very small chip',
       " left supra has a chip out of it& small piece out of left rear flipper missing.  Note:  tag was full of small b's -all killed.",
       ' sea lice in eyes', ' sm bs 4LLS',
       ' light green alage on shell& old scar from fishing line entanglement on LFF',
       ' B on 2nd RLS& small bs on neck & RFs& scratch on 1st CS& 1b on 10th LMS+ L supracaudal +11th RM',
       ' RMS 10-11 notches',
       ' notch in the middle of the inner edge of LFF',
       ' chip in 9th RMS', ' shell is beginning to flake',
       ' the edge of 7th& 8th& 9th and both 11th MS are jagged',
       ' eight LMS is deformed', ' pink & calcerous algae at rear',
       ' LRflip lareg piece missing', ' notch 9LM', ' ',
       ' btw 9/10 & 11/12 LM piece missing',
       "  3 b's 5 CS+ 1 small b on 3 CS + 4 CS+ some red algae around b's",
       ' ssuperfical damage 5 CS and 11 LM joint& has 6 CS-5th is very small.',
       ' very heavy encrusting calcerous algae all over the shell and green/red algae on marginals& 9 RM and 6 LM has a c',
       ' scratshed 2+3LLS', ' v-notch on LRF', ' 1b 11RM + 5CS.',
       ' b scar 3LLS& 6LMS', ' sm notch on LFF& sereted edges of MS',
       ' notch RRF', ' pinkish calcerous algae on rear shell ',
       ' sm bs on 2&4RLS and flips',
       ' brown algae on neck and under flips', ' flakings 4+5CS',
       ' 7RMS is sunken with white calcerous algae',
       ' pink calcerous algae 4RLS and supra', ' several notches in RMS',
       ' small Bs on rear shell', ' chip in 5th RMS',
       ' no flesh around neck]. U-notch RRF. Releasing dark brown fluid from cloaca',
       ' green and white calcareous algae on the carapace',
       ' turtle generally healthy and active',
       ' healthy and active turtle', ' no other major physical features',
       ' tiny barnacles underneath LRF', ' green algae on plastron',
       ' five post-oculars on left side', ' notches on eleventh RMS',
       ' light green algae on carapace', ' sm chip 10/11 RMS',
       "   several b's on shell (all killed)& has 6 CS(5 CS is very small)& very small b's on flippers and neck area& tip of right front flipper is slightly jagged.",
       ' flaking on 2nd CS and 4th CS', ' right supracaudal broken',
       ' flaking on 1& 2 & 3 CS and 3 LLS',
       ' small bs on the shoulders &  the LFF+LRF and on the joints of the scutes&supracaudal is slightly broken.',
       ' light green algae on shell',
       ' Bs on 1&2&5CS & 3&4LLS & 10&11RMS & R supra', ' flaking',
       ' light pink calcerous algae on rear shell',
       ' small v-shaped notch on LRF', ' shell is slightly flaking',
       ' small barnacles', ' 8 CS (in zig-zag pattern)',
       ' generally clean turtle',
       " piece missing on right flipper& open wound (fresh) on the neck-might be from the net& many small b's on underside",
       ' right supra. has chip.',
       ' Large barnacle on the 1st RLS& Light covering of green algae on the shell',
       ' bs 2&4&5 CS & 2&3LLS',
       ' light green algae on shell& 7bs on plastron& cuts on rear flips',
       ' sometiny barnacles on flippers', ' b 9LM',
       ' calcerous algae 11LM& nuchal& 1CS.',
       ' healing 1Green Turtle wound on neck & half Green Turtle wound on neck in fron tof LMS',
       ' light pink calcerous', ' flaking on 2 RLS',
       '.BS on flippers. Green algae on plastron.',
       ' upper and lower beak are ont properly aligned',
       ' green algae towards rear carapace',
       ' patches of pinkish calcareous algae on the carapace',
       'shoulder. Pinkish algae on plastron.',
       ' barnacle on plastron (removed)',
       ' tiny barnacles on all flippers and around neck', ' clean turtle',
       ' some green algae on rear carapace',
       ' thin green algae on rear carapace', ' 5 LLS',
       ' white patches of calcareous algae on carapace',
       ' eigth LMS deformed', ' turtle looks weak',
       ' small barnacles on plastron (removed)', ' tip of RRF missing',
       ' notch RF flip', ' sm Bs down central scutes +left marginals',
       ' left rear flip - cut on trailing edge& +1/2 norm size. Both original tags lost (CC00198 & W444)',
       " marginals damaged serrations eroded way - caused by b's underneath",
       "   b-1RLS& 5 b's 2 RLS& 1 b 3 RLS& 8 b's 6 CS& 1 b 11 marg.& 3 b's 3 LLS& 1 b 1 4 LLS& 6 CS's- b.  Front flippers at edge have a little net damage",
       ' RR flipper has old bite out of it', ' no LR flip',
       ' 1 small b-3LM+ 1 small b-4LLS+ small B cluster - 4RLS+ 2 RLS has superficial damage to shell (1inch squar',
       ' 2Bs on 5CS& 11LMS&10RMS (killed)& Bs on plastron',
       ' 3rd CS is beginning to flake',
       ' the 2nd 3rd of both FFS from tips are jagged',
       ' a v-shaped notch in mid-inner edge LFF',
       ' a small projection on the middle of RRF', ' clean plastron',
       ' barnacles around the neck', ' notch between supras', ' 12 LMS',
       ' 5 RLS', ' small barnacles around neck and rear flippers',
       ' notches on RMS', ' thin green algae on carapace',
       ' barnacles on plastron (removed)',
       ' barnacles on carapace (removed)',
       ' white calcareous algae on edge of scutes', ' deformed third CS',
       ' some patches of calcareous algae on the carapace',
       ' small Bs on the shoulders', ' both supra are raised',
       ' covered lightly on plastron with red & green algae blotches& slight bleeding underside of jaw +underside of left flipper betwe',
       ' a little red algae in neck and shoulder areas',
       " very small b's on flippers",
       " many small b's at rear end of shell and marginals& also b's ingrowing in shell on 3 RLS and at joint of 1/2 LLS & RLS (causing uplift  of scute on 3 RLS)& all b's killed& very scarred shell& light algae covering& litt",
       ' some Bs on scutes and flippers',
       ' taken to rehabilitation center',
       ' thick green algae on rear shell and rear flippers',
       ' light white calcareous algae on carapace',
       ' some notches on the rear marginal scutes',
       ' few barnacles on carapace', ' carapace flaking on fourth LS',
       ' b scar 2LLS& fresh net injuries on shoulder - a little bleeding',
       ' sm b on 5CS', ' several small barnacles on the plastron',
       ' clean plastron and carapace', ' both tips of supras missing',
       ' notch on ninth RMS', ' tag rip on LRF',
       ' Bs interfered with measuring ',
       ' couple of small notches on inside of RFF on 2nd scale. Light algae covering& hook wound (small hole) under LFF.    ',
       ' hooked in mouth with squid bait& big B surrounded by smaller on 3CS and 11RMS& notch join 9/10RMS& light green algae on rear of shell',
       ' flkaing 11RMS and plastron',
       'll additional scute between 10th LMS and 5th CS. A big notch in 10th RMS. Shalow notch in 10th LMS. A tag hole in LRF.',
       'aking shell.', ' scratch marks on 2nd CS and 1st RLS',
       ' few barnacles on left front flipper',
       ' few small barnacles on the plastron',
       ' flake on the left 2nd left lateral scute',
       ' few small barnacles on the right carapace and plastron',
       ' nuchal scute and first CS not well defined',
       ' tip of LSCS broken', ' notch between tenth and eleventh LMS',
       ' both supra tips missing', ' flking on nuchal scute',
       ' notch on eleventh RMS', ' tip of supras damaged', ' b scar 2LLS',
       ' 2 Bs on 4 RLS', ' beautiful in colour', ' notch on fifth CS',
       ' underside covered in Bs& especialy heavy around margi',
       ' little bleeding from rear marg',
       ' pinky skin colour on underside of rear flips +tail areas',
       " 2nd LLS is flaking& all scutes are flaking& 1LLS large b& 3LLS has 3 large b's +clusters& 2RLS has 4 large b's +clusters& supracaudals damaged -slight bleeding& tag rip in LRF",
       ' underside of left& right & rear marginals have algae  ',
       ' slight chipping of all scutes& which were slightly elevated',
       ' white calcerous algae at end of marginals', ' 2smBs 4RLS',
       ' light algae on shell& heavy on 2CS',
       ' 1+ 2 3 RLS and 2 + 3 LLS has chips+ between 7 + 8 RMS has a chip ',
       " hook went in under LFF+ small wound end of RFF+ small b's on 3CS+ notch out of left + right suprac.",
       '  mark to shell between 2+ 3RLS',
       " chip btw R supra/11RM+ small b left supra+ very small b's on the sides of head",
       '  very beautiful shell+ 3 RMS + 8 LMS have 1 small b each+ 7 + 8 RMS have notches+ 8 + 10 LMS have notches+',
       " notch off R supra.+ small b's on left front flipper on top+ small hole LFF (old b scar)+ small b on RFF+ shell perfect. Old tag mark on the the left flipper",
       ' square LFF-end with the thickened area and old wound',
       ' 3 RLS has large b and 11 RMS has 1 b+ a bit of chipping off on right supra.+ wound under RFF because of the hook+ tips of flippers (rear) a bit damaged.',
       ' 2 LLS has some flaking& 1 small barnacle (b) on nuchal& 11 RMS has a chip put of it& left rear flipper has a notch',
       ' has 5 RLS and has 12 MS& a little rawness from net on LFF& and a notch between supra.',
       ' 1& 3& 4 RLS has marks& 2 RLS has flaking& 3 CS has small b& right flipper with indent& b over right eye.',
       ' the R supra edge is broken&light grenish algae smear on  2&3LLS.& a flaking on 6RMS. tag replaced almost falling off',
       ' gr', ' 4CS& 3RLS& 4RLS&5CS has 1 b',
       " small b's on 4RMS& 11RMS & on neck & RFs",
       ' A b on the 2nd RMS& 2RLS& 5th CS and bs on the RFs. 2notches on the 11RMS',
       ' gren algae on shell', ' RRF missing: b scar 8&9 RMS',
       ' sm bs on LFF & 11 L&RMS', ' small B on RLS',
       ' sunken laterals& small chips on LFF',
       ' B scar on joint of 1 and 2 RLS', ' 1B 5CS',
       ' B scar on the 1st CS& b on the RLS& left supracaudal is broken & a small notch on the 11th LMS& soft algae on the carapace ',
       ' RRF has alareg piece missing at top of flip',
       ' v. sm non FOP growth top right side of RRF', ' 2b 3RLS',
       ' notches on both MSs 8>11',
       ' b scar join 1CS/1LLS& notch join 8/9LMS',
       ' Light green algea on shell&B scar on 3rdLLS', ' Clean shell&',
       ' hook wound on RFF shoulder', ' b interference on CCW',
       ' flaking 6th LMS + 11th RMS',
       ' flaking on both 1st LS& 1st to 4th LMS + 1st to 3rd RMS',
       ' 4B RFF',
       ' Flaking on 3rd-4th LLS& 3rd RLS& 3rd-5th CS& barnacle on 8th LMS + notch& small barnacles all flipps& notch on LRF& deformed RFF',
       ' minor flaking patches on scutes', ' tag rip in LRF',
       ' hook injury in the right shoulder',
       ' bleeding bruise at top of RFF', ' small Bs on scutes + head',
       ' flaking. Inactive.', ' small notches on tenth LMS and RSCS',
       ' tiny barnacles on neck and rear carapace',
       ' few tiny barnacles on carapace', ' small barnacles on carapace',
       'flaking shell', ' few smal barnacles around neck and shoulders',
       ' missing LFF', ' healthy turtle', ' notch on tenth RMS and LRF',
       " 3 RLS-3 large b's& 3 LLS and 4 RLS-1 very large b& 4 LLS-6 b cluster& flaking 4 RLS& scute damage 3 RLS (some scutes not there down to bone - 3 inch patch)& burrowing b in 5 LLS& 4 LLS& 3 LLS& quite a bit of flaking all over shell especially supra.&",
       ' many sm bs on flipps', ' turtle appears weak',
       ' few tiny barnacles on shoulders and flippers',
       ' slightly broken ninth LMS', ' 5 post-orbitals on right side',
       ' fifth CS split into 2/3', ' 1 b 5 CS & 1 small',
       " old tag cut out from turtle - piece of flesh missing in rear flipper.  Chip on 10 & 11 L marginal & 10 R marginal& 2 RLS & 3 LLS old b wound& 2 RLS has impregnated b&  9 RLS has 1 small b& 4 large b's on upper b",
       ' hump 1 CS+ small superficial shell damage 5 CS ',
       " 2 b's on plastron& green algae growth over shell& old b scar 3 LLS& 11 LMS has 2 small chips& small b on top of head. Old tag scar LRF",
       " 5 LLS& several small b's towards rear end of shell& small b's on flippers and neck& 8 RMS has a chip& left front flipper has a notch at the tip.",
       ' flakings on 9 &10RMS& and on 9> 11LMS ', ' sm bs on 2 RMS',
       ' sm b join of 8/9 LMS& sm bs on supras and 11RMS',
       ' sm bs on shell', ' small Bs on shoulders', ' 1 B on 11th LMS',
       ' chips on supras & b on R supra', ' small net damage on flippers',
       ' B on 11LM& 11RM& 3 bs on R. supracaudal.', ' 1 b on head& 7RMS',
       ' Clean', ' b 4RLS& 10RMS',
       ' b 5CS& B cluster on plastron - all bs killed',
       ' large bs on 2LLS& 4LLS& 4&5 CS', ' net redness tip of FFs',
       ' sm scrape on 4RLS', ' sm bs 2RLS& both 11MS & 2LLS',
       ' sm bs on 1RLS and 3LLS', ' sm bs RFs', ' 1 lge b 4LLS',
       ' b onm 4RLS& b scar3RLS& light green alage on shell& sm hook wound RFF near shoulder',
       ' 1B 1&3&5CS& 2small Bs 11RMS& flaking 5CS+1stLLS& chip 9LM+R.supra',
       ' 2Bson 2ndRLS& 1b on 3rdRLS& 8LM-large chip',
       ' 1B on 5thCS& R supra&L supra',
       ' deep large cut(2Green Turtle)on soft flesh next to LFF (from hook)& 2bs LFFat middle& a chip on 8thRMS',
       ' few small removed Bs on scutes',
       ' small notch in 11th LMS& small Bs on neck', ' small Bs on neck',
       ' tag lump in RRF', ' notch in the joint between 10th +11th LMS',
       ' tag rips in both RF& a projection at the middle of LRF',
       ' 13 scars on shell', ' flaking shell and plastron',
       ' few barnacles removed. Two shallow wounds on right pectoral scale of the plastron. Pinkish composition on the majority of the scales of the pastron.',
       ' and also between 7th and 8th LmS. Flaking on the carapace. Thin green algae on the carapace.',
       ' tag rip on the left rear flipper',
       ' small scute between 4th and 5th central scutes',
       ' at rear minor flaking third CS',
       ' minor notches on rear flipper', ' bottom tips on supras missing',
       ' minor flaking on carapace', ' flaking on carapace and plastron',
       ' otherwise generally clean turtle', ' minor flakings on plastron',
       'damage LR flipper', ' slight damage to LF flip',
       ' turtle is fat & healt', ' sm bs on shouldrs and flipps',
       ' thicjk green algae over shell& emaciated and weak…..DIED 22/9',
       ' calcerous algae on scutes', ' badly dehydrated',
       ' neck& eyes and LRF (big tumour)& thick green algae on the carapace& sent to rehab( euthenised)',
       ' irregular scutes 6CS& 5LLS& 4RLS',
       "  B's on head& left f flipper edge& right f flipper edge",
       ' 11L marg missing & 10th partially  ', ' 2Bs 3RLS',
       '  has  5 LLSs',
       " b cluster on 3 CS+  underside of RF flipper has deep gash where hook caught the turtle+ 3 small b's on R prefontal of head. Both origina",
       ' right supra. has a chip.',
       " b scar 1 LLS& 3 b's 2 RLS and 3 RLS",
       ' L supra tip is off&small jagged on both FF',
       ' flaking off of the 4LLS&5C', ' chip on 11th LMS',
       ' small Bs on supracaudal', ' indent 7>11LMS',
       ' sm hole near tip of RFF', ' flakings 2LLS& 3CS',
       ' healing speargun wounds both sides of neck',
       ' small Bs on shoulder and 3rd CS',
       ' tiny barnacles on rear carapace and around neck',
       ' first LMS has a splighting joint', ' 2RLS - 1B',
       ' the edges of the marginal scutes are serrated.',
       ' 1Green Turtle superficila scute damage 4RLS',
       'many bs on plastron',
       ' wound could have been caused by predators.',
       ' green algae on the plastron',
       ' green algae on the rear carapace',
       ' small barnacles on plastron',
       ' white calacareous algae on carapace', ' 3 sm ingrowing bs 3RLS',
       ' three holes on the 1LMS& 1 hole on the 8RMS&10&11 RMS are broken ',
       ' notch 11LMS', ' slight algae on supracaudal', ' notch on 7 RMS',
       ' flakings on CS', 'b scar 4RMS& pink calcerous algae 3&5CS',
       ' notch btw 7/8 & 9/10 RMS',
       ' massive neck wounds to top of neck - looks like spear wound into right of neck& with machete wound to top of neck (open) but started healing& bone in tact',
       ' old b scar on 1CS& left eye bulbous + bloodshot',
       ' net wounds FFs& sm notches joins 9/10/11LMS',
       ' speargun wounds on left side of neck with swelling& sunken plastron& 2 notches in RRF',
       ' b 1CS and join 2/3RLS& flakings 2RLS',
       ' bleeding at tag site as fisherman had tried to remove it',
       ' 1CS is divided in 2',
       ' flaking on joints of scutes& scar on 3rd LLS& few small barnacles on flippers',
       ' some chipping in MS on both sides', ' 2nd& 3rd left LS',
       " small b's on 3rd & 4th LLS & 3rd & 4th CS +2 RLs   ",
       " 2 LLS has a chip+ 2 small b's on nuchal + small b on supra.+ few bs on shell and flippers+ some small b's to the right side of head to the back+ some flipper damage on LFF - net+ chip between ",
       ' 1 small b -4 LLS& 9 LMS& both supra. and 4 CS',
       ' a cluster of b on 2LLS and one on each 3 &4LLS& b on the 9& 10 LMS& fresh wound on the front flippers (net damage)',
       ' light flaking on shell& sm b on L supra', ' notches on both RFs',
       ' light green alage on shell& 9LM has chip&  sm bs RFs ',
       ' Small hump on 1st CS& flaking on 2nd + 3rd LLS + 2nd + 4th RLS& notches on the 9th + 10th LMS + left supra& notches on 8th + 9th RMS& small hook wound on LFF',
       ' greenish algae on carapace', ' notch in supra',

In [13]:
df['Status'].nunique()

439

In [14]:
df.duplicated().value_counts()

False    18062
Name: count, dtype: int64